.header {
  height: 64px;
  margin-bottom: 52px;
  background-color: var(--header-background);
}

.header .container {
  height: 100%;
  display: flex;
}

.load-more {
  margin: 40px 0;
  text-align: center;
}
